html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

header {
    background-color: rgba(229, 122, 221, 1);
    /* display: flex; */
    height: 70px;
    padding-left: 10px;
    /* align-items: stretch; */
}

.header-item {
    height: inherit;
    float: left;
    display: flex;
    align-items: center;
}

#header-icon {
    height: 50px;
    /* margin: 10px; */
}

#header-title {
    margin: 0;
    margin-left: 10px;
}

nav.header-item {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

nav.header-item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
}

nav.header-item li {
    float: left;
    height: inherit;
}

nav.header-item a {
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

nav.header-item a:hover {
    background-color: rgb(243, 163, 207);
}

#instructions {
    font-size: larger;
    margin: 2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#playground_menu {
    margin: 1rem;
}

#tutorial_instructions {
    margin: 1rem;
}

#tutorial_canvas {
    margin: auto;
}